body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    max-width: 1340px;
    margin: 0 auto !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.accept-btn {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.reject-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    flex: 1;
    margin-right: 5px;
}

.search-form button {
    margin-left: 5px;
}