body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    max-width: 1340px;
    margin: 0 auto !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}


.doctor-photo {
    max-width: 200px; /* Максимальная ширина фотографии */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border: 3px solid #007bff; /* Граница вокруг фото */
}

.doctor-info {
    background-color: #f9f9f9; /* Светлый фон блока */
    border-radius: 10px; /* Скруглённые углы */
    padding: 20px; /* Внутренние отступы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для блока */
}

.accept-btn {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.reject-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    flex: 1;
    margin-right: 5px;
}

.search-form button {
    margin-left: 5px;
}